.sidebar {
  width: 260px;
  height: 100vh;
  background: #0f172a;
  position: fixed;
  left: 0;
  top: 0;
  padding: 24px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

/* COLLAPSED */

.sidebar.collapsed {
  width: 92px;
}

/* LOGO */

.logo-section {
  margin-bottom: 45px;
}

.logo-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-top h1 {
  font-size: 28px;
  color: white;
  margin-bottom: 4px;
}

.logo-top p {
  color: #94a3b8;
  font-size: 12px;
}

/* MENU BUTTON */

.menu-btn {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.08);
  color: white;
  font-size: 18px;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.3s;
}

.menu-btn:hover {
  background: rgba(255,255,255,0.15);
}

/* MENU */

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ITEM */

.menu-item {
  height: 52px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0 16px;
  border-radius: 16px;
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}

/* COLLAPSED ITEMS */

.sidebar.collapsed .menu-item {
  justify-content: center;
  padding: 0;
}

/* HOVER */

.menu-item:hover {
  background: rgba(255,255,255,0.08);
  color: white;
}

/* ICON */

.menu-icon {
  font-size: 20px;
  min-width: 20px;
}

/* ACTIVE */

.active {
  background: #2563eb;
  color: white;
}

/* BOTTOM */

.bottom-item {
  height: 52px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0 16px;
  border-radius: 16px;
  color: #cbd5e1;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}

/* COLLAPSED BOTTOM */

.sidebar.collapsed .bottom-item {
  justify-content: center;
  padding: 0;
}

/* HOVER */

.bottom-item:hover {
  background: rgba(255,255,255,0.08);
  color: white;
}

/* RESPONSIVE */

@media (max-width: 900px) {

  .sidebar {
    display: none;
  }

}

/* SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LOGOUT BUTTON */

.sidebar-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;

  background: #fee2e2;
  color: #dc2626;

  border: none;

  padding: 12px 14px;

  border-radius: 12px;

  cursor: pointer;

  font-size: 14px;

  font-weight: 600;

  transition: 0.2s;

  margin-top: 20px;
}

.sidebar-logout:hover {
  background: #fecaca;
}

/* COLLAPSED */

.collapsed .sidebar-logout {
  padding: 12px;
}