/* .topbar {
  height: 82px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;
}


.search-container {
  width: 620px;
  height: 54px;
  border: 1px solid #d1d5db;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  gap: 12px;
}

.search-icon {
  color: #6b7280;
  font-size: 18px;
}

.search-container input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}


.topbar-right {
  display: flex;
  align-items: center;
  gap: 26px;
  color: #111827;
  font-size: 22px;
}

.profile-section img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}


@media (max-width: 900px) {

  .topbar {
    padding: 0 18px;
  }

  .search-container {
    width: 100%;
    max-width: 350px;
  }

}   */